// Place all the styles related to the Cigars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cigar-show {
  .feature-image img {
    width: 100%;
  }
  .add-to-cart {
    width: 100%;
  }
}

#shopping-div {
  margin-top: 100px;
}
